/*CONECTADO*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*-----------------GRILLA DE TABLERO-----------------*/
.main-game {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 20px;
    justify-content: center;
}

.main-sudoku-cell {
    border: 1px solid rgba(0, 0, 0, 0.116);
    width: 6vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    margin: -10px;
    display: flex;
    z-index: .2;
}

.border-right {
    border-right: 3px solid black;
    z-index: 1;
}

.border-bottom {
    border-bottom: 3px solid black;
    z-index: 1;
}

.main-sudoku-cell:hover {
    background-color: rgba(173, 216, 230, 0.233);
    transition: 0.2s;
}
.main-sudoku-cell:not(:hover) {
    transition: 0.2s;
}



/*-------------GRILLA DE NUMEROS PARA COLOCAR-------------*/
.main-numeros-grid {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    gap: 10px;
}

.main-numeros-cell {
    width: 5vw;
    height: 6vh;
    border: 1px solid rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.main-numeros-cell:hover {
    background-color: rgba(231, 172, 83, 0.233);
    transition: 0.2s;
}
.main-numeros-cell:not(:hover) {
    transition: 0.2s;
}



