/*CONECTADO*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}    

/*-----------------TITULO-----------------*/
.titulo  {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}



/*-----------------GRILLA DE TABLERO-----------------*/
.main-game {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 80vw;
}

.main-errores-timer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.errores b {
    color: rgb(255, 48, 2);
}

.btn-pausa-reset img {
    width: 4vw;
    margin: auto;
}


.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    gap: 20px;
    justify-content: center;
    
}

.celda {
    border: 1px solid rgba(0, 0, 0, 0.116);
    width: 4.5vw;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: -10px;
    display: flex;
    font-size: clamp(1rem, 2.5vw, 7px);
}

.border-right {
    border-right: 3px solid black;
    z-index: 1;
}

.border-bottom {
    border-bottom: 3px solid black;
    z-index: 1;
}

.celda:hover {
    background-color: rgba(173, 216, 230, 0.189);
}
.celda:not(:hover) {
    transition: 0.1s;
}


/*----------------ESTILOS DESDE JS----------------*/
.celdaActiva {
    background-color: #3ea5ff3d !important;
}

.conNumeroInicio {
    background-color: rgba(246, 226, 183, 0.245);
}

.numeroEquivocado {
    background: radial-gradient(circle, rgb(255, 255, 255), rgba(251, 0, 0, 0.201));
    color: red;
}

.numeroBien {
    color: green;

}

.numerosIgualesTablero {
    background-color: rgba(0, 0, 0, 0.278);

}

/*-------------GRILLA DE NUMEROS PARA COLOCAR-------------*/
.main-numeros-grid {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

.main-numeros-cell {
    width: 6vw;
    max-width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: clamp(1.2rem, 3.5vw, 9px);
    cursor: pointer;
}

.main-numeros-cell:hover {
    background-color: rgba(231, 172, 83, 0.233);
    transition: 0.2s;
}
.main-numeros-cell:not(:hover) {
    transition: 0.2s;
}
.numeroActivo {
    background-color: rgba(231, 172, 83, 0.78);
}


