/*CONECTADO*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');
/*font-family: 'Kanit', sans-serif;*/
/* font-family: 'Nunito Sans', sans-serif; */

.hidden {
    display: none !important;
}


:root { /* ESTOS SON LOS COLORES EN LIGHT MODE (normal) */
    --color-fondo: #ffffff;
    --color-titulo: #001253;
    --color-errores-timer: #000000;
    --color-fondoBtnJugar: #001253;
    --color-flechaBtn: #FFFFFF;
    --color-bordesCeldasNormal: rgba(0, 0, 0, 0.116);
    --color-bordesCeldasGruesos: #000000;
    --color-numerosCeldas: #000000;
    --color-celdaActiva: #3ea5ff3d;
    --color-fondoCeldas: #ffffff;
    --color-tableroBien: rgb(243, 251, 229);
    --color-tableroMal: rgb(253, 189, 189);
    --color-celdaMal: rgba(171, 1, 1, 0.688);
    --color-mensajeFin: url('../img/fondoBlanco.png');
    --color-bordeBtns: black;
    --color-numerosNoActivos: white;
    --color-mismoNumero: rgba(94, 207, 255, 0.504);
    --color-iconos: none;
    --color-fondoInfoA: #255e90;

}

.darkMode { /* ESTOS SON LOS COLORES EN DARKMODE */
    --color-fondo: #010237;
    --color-titulo: #ffffff;
    --color-errores-timer: #ffffff;
    --color-fondoBtnJugar: #3ea6ff;
    --color-flechaBtn: #ffffff;
    --color-bordesCeldasNormal: rgba(138, 138, 138, 0.367);
    --color-bordesCeldasGruesos: #ffffff;
    --color-numerosCeldas: #ffffffe6;
    --color-celdaActiva: rgba(160, 231, 254, 0.506);
    --color-fondoCeldas: rgba(172, 226, 253, 0.204);
    --color-tableroBien: rgba(24, 178, 42, 0.608);
    --color-tableroMal: rgba(183, 1, 1, 0.457);
    --color-celdaMal: rgba(255, 0, 0, 0.788) ;
    --color-mensajeFin: url('../img/fondoOscuro.png');
    --color-bordeBtns: white;
    --color-numerosNoActivos: black;
    --color-mismoNumero: rgb(70 158 196);
    --color-iconos: invert(100%);
    --color-fondoInfoA: #255e90;


}   


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    background-color: var(--color-fondo);
    transition: all 0.5s ease-in-out;
}    

/*-----------------TITULO-----------------*/
.titulo  {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: var(--color-titulo);
    font-family: 'Kanit', sans-serif;
    font-size: 120%;
    margin-top: -30px;

}

.titulo h1 {
    position: relative;
    margin-left: 125px;
    margin-right: 40px;
    left: 0;
    right: 0;
}

/*-------------- HOME elegir nivel --------------*/

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

.tituloNiveles-container {
    font-size: clamp(1rem, 30vw, 1.25rem);
    margin: auto;
    color: var(--color-titulo)
}

.niveles-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
}

#niveles {
    color: var(--color-titulo)
}

#niveles input  {
    display: none;
}

#niveles label {
    cursor: pointer;
}



/*-----------------GRILLA DE TABLERO-----------------*/
.main-game {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -30px !important;
    opacity: 0;
}

.main-errores-timer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 500px;
    margin: auto;
    text-align: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.errores {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: var(--color-errores-timer);
}

.errores b {
    color: rgb(255, 48, 2);
    font-size: 110%;
    font-family: 'Kanit', sans-serif;
}

.timer {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: var(--color-errores-timer);
}

.btn-pausa-reset {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80vw;
    min-width: 20px;
    margin: auto;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
}

.btn-pausa-reset img {   
    width: 35px;
    z-index: 1000;
    margin: 0 10px;
    filter: var(--color-iconos);
}

#btn-play {
    opacity: 0;
}
#btn-play:hover {
    scale: 110%;
    transition: 0.2s;
}
#btn-play:active {
    scale: 95%;
    transition: 0.2s;
}

#btn-pausa {
    opacity: 0;
}
#btn-pausa:hover {
    scale: 110%;
    transition: 0.2s;
}
#btn-pausa:active {
    scale: 95%;
    transition: 0.2s;
}

#btn-home {
    opacity: 0;
    width: 40px;
}
#btn-home:hover {
    scale: 110%;
    transition: 0.2s;
}
#btn-home:active {
    scale: 95%;
    transition: 0.2s;
}

#btn-reset {
    opacity: 0;
}
#btn-reset:hover {
    scale: 110%;
    transition: 0.2s;
}
#btn-reset:active {
    scale: 95%;
    transition: 0.2s;
}


#btn-jugar {
    position: absolute;
    left: 0;
    top: 330px;
    right: 0;
    z-index: 999;
}

/* BOTON DE COMENZAR JUEGO */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
 width: 8.5rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 8rem;
 height: 3rem;
 background: var(--color-fondoBtnJugar); /*COLOR FONDO  */
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid var(--color-flechaBtn); /*COLOR FLECHA*/
 border-right: 0.125rem solid var(--color-flechaBtn); /*COLOR FLECHA*/
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: rgba(255, 255, 255, 0.482); /*COLOR LETRAS*/
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff; /*COLOR FLECHA*/
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff; /*COLOR LETRAS en HOVERA*/
}


.main-game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    margin-top: -20px;
}

.paraCentrar {
    display: flex;
    justify-content: center;
}


.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    width: 80vw;
    max-width: 450px;
    opacity: 10%;
    height: 45vh;

    margin-bottom: 55px;
    @media (width > 500px) {
        margin-bottom: 90px;
    }
}

.celda {
    display: flex;
    border: 1px solid var(--color-bordesCeldasNormal);
    color: var(--color-numerosCeldas);
    background-color: var(--color-fondoCeldas);
    justify-content: center;
    align-items: center;
    margin: -10px;
    font-size: clamp(1rem, 2.5vw, 6px);
    @media (width > 500px) {
        padding: 2px;
    }
}

.border-right {
    border-right: 3px solid var(--color-bordesCeldasGruesos);
    z-index: 1;
}

.border-bottom {
    border-bottom: 3px solid var(--color-bordesCeldasGruesos);
    z-index: 1;
}


/*----------------ESTILOS DESDE JS----------------*/
.celdaActiva {
    background-color: var(--color-celdaActiva) !important;
}

.conNumeroInicio {
    background-color: rgba(246, 226, 183, 0.245);
}

.numeroEquivocado {
    color: rgb(252, 0, 0);
}


.numeroBien {
    color: rgb(0, 194, 0);

}



.apareceBTN {
    opacity: 100%;
}


.mismoNumero {
    background-color: rgba(132, 189, 255, 0.561);

}

.win {
    color: rgba(1, 171, 1, 0.688) !important;
    background-color: var(--color-tableroBien) !important;
    transition: 0.5s;
}

.bigL {
    color: var(--color-celdaMal)!important;
    background-color: var(--color-tableroMal) !important;
    transition: 0.5s;
}

.mensajeFin, .mensajePerder {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
}

.divPerder {
    background-image: var(--color-mensajeFin);
    border: 3px  solid white; 
    box-shadow: 0px 0px 30px rgba(255, 4, 4, 0.951) inset;
    color: var(--color-errores-timer);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 290px;
    flex-direction: column;
    border-radius: 2rem;
    scale: 0%;
}

.fin {
    background-image: var(--color-mensajeFin);
    box-shadow: 0px 0px 30px rgba(50, 183, 2, 0.838) inset;
    color: var(--color-errores-timer);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 3px  solid white; 
    width: 350px;
    height: 290px;
    flex-direction: column;
    border-radius: 2rem;
    scale: 0%;
}

.finTitulo {
    margin-bottom: -40px;
    font-family: 'Kanit', sans-serif;
    color: rgb(4, 180, 4);
}

.finTituloPerder {
    margin-bottom: -40px;
    font-family: 'Kanit', sans-serif;
    color: rgb(232, 0, 0);
}


.datos {
    display: flex;
    gap: 150px;
}

.finTiempo, .finErrores{
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.cero {
    color: red;
    font-size: 120%;
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.botones img {
    width: 40px;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    filter: var(--color-iconos);
   
}

.home  {
    border: 3px solid var(--color-bordeBtns);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.reiniciar  {
    border: 3px solid var(--color-bordeBtns);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.sigNivel  {
    border: 3px solid var(--color-bordeBtns);
    border-radius: 50%;
    padding: 5px 8px 5px 0px;
    transform: rotate(180deg);
    cursor: pointer;
}


/*-------------GRILLA DE NUMEROS PARA COLOCAR-------------*/
.main-numeros-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 10%;
    margin-bottom: 80px;
}

.main-numeros-cell {
    width: 6vw;
    max-width: 40px;
    height: 35px;
    border: 1px solid var(--color-bordesCeldasNormal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: clamp(1.5rem, 4vw, 12px);
    cursor: pointer;
    color: var(--color-numerosCeldas);
    background-color: var(--color-fondoCeldas);
    
}

.main-numeros-cell:hover {
    background-color: rgba(231, 172, 83, 0.233);
    transition: 0.2s;
}
.main-numeros-cell:not(:hover) {
    transition: 0.2s;
}
.numeroActivo {
    background-color: rgba(231, 172, 83, 0.78);
}

.numeroCompleto {
    opacity: 20%;
    cursor: default;
}


.numeroCompleto:hover {
    background-color: white !important;
}
.numeroCompleto:active {
    background-color: white !important;
}
.numeroCompleto:not(:active) {
    background-color: var(--color-numerosNoActivos) !important;
    transition: 1s;
}



/*BOTON DE LUZ Y OSCURO*/

/* Default */

.switch {
  font-size: 17px;
  position: relative;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}


/*---------BOTON PARA MAS INFO---------*/

.paste-button {
    position: absolute;
    left: 40px;
    top: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondoBtnJugar);
    border: 0px solid black;
    box-shadow: rgba(0, 0, 0, .5) 0 3px 5px -1px,rgba(0, 0, 0, .4) 0 6px 10px 0,rgba(0, 0, 0, .3) 0 1px 18px 0;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    z-index: 1500;
}
  
.button {
  color:var(--color-flechaBtn);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: var(--color-fondoInfoA);
  border-radius: 0px 15px 15px 15px;
  justify-content: center;
  text-align: center;
}

.dropdown-content a {
  color: var(--color-flechaBtn);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  width: 90%;
}

.dropdown-content a:hover {
  background-color: var(--color-fondoBtnJugar);
  color: var(--color-flechaBtn);
}


.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
  
}
  


/*----------------ESTILOS DE INFO.HTML-----------------*/

.button-volver-container {
    position: absolute;
    left: 50px;
}


.todo-container {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.reglas-container, .info-container, .tutorial-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-errores-timer);

}
.reglas-container h3, .info-container h3, .tutorial-container h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
    font-family: 'Nunito Sans', sans-serif;
    
}

.info-container h4 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 70px;
    font-weight: 700;
    
}


/*------------BTN VOLVER------------*/

.button-resp {
    display: none;
}

.btn-volver {
   display: flex;
   position: absolute;
   left:40px;
   top: 33px;
   height: 3em;
   width: 150px;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
   letter-spacing: 1px;
   transition: all 0.2s linear;
   cursor: pointer;
   border: none;
   background: var(--color-fondoBtnJugar);
   color: white;
   border-radius: 2rem;
   padding: 10px 15px;
    font-size: 15px;
}

.btn-volver  > svg {
   margin-right: 15px;
   margin-left: 5px;
   transition: all 0.4s ease-in;
   scale: 180%;
   fill: white;
}

.btn-volver:hover > svg {
   font-size: 1.2em;
   transform: translateX(-5px);
}

.btn-volver:hover {
   box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
   transform: translateY(-2px);
}


@media (width < 550px) {

    .titulo {
        margin-bottom: -12%;
        
    }

    .titulo h1 {
        position: static;
        margin: 35px 15px;
        
    }

    .main-game {
        margin-top: 5px !important;
    }

    .main-sudoku-grid {
        width: 80vw;
    }

    .main-errores-timer {
        width: 90vw;
    }
    
    .main-numeros-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .main-numeros-cell {
        font-size: clamp(1.3rem, 3vw, 10px);
        padding: 0px 3px;
    }

    .switch {
        font-size: 17px;
        position: absolute;
        width: 64px;
        height: 34px;
        right: 0px !important;
    }

    .paste-button {
        left: 10px;
        top: 30px;
    }

    .button {
        display: none;
    }

    .button-resp {
        display: flex;
    }
    
    
    
}
@media (610px > width < 551px) {

    .btn-volver  > svg {
        position: absolute;
        width: 100%;
        margin: var(--color-celdaActiva);
    }

    .btn-volver {
        color: var(--color-fondoBtnJugar);
        font-size: 1px;
        width: 50px;
        padding: 20px;
        position: absolute;
        left: 10px;
        top: 30px;
        display: flex;
        justify-content: center;
    }
}


@media (width < 610px) {
    .btn-volver  > svg {
        position: absolute;
        width: 100%;
        margin: var(--color-celdaActiva);
    }

    .btn-volver {
        color: var(--color-fondoBtnJugar);
        font-size: 1px;
        width: 50px;
        padding: 20px;
        position: absolute;
        left: 10px;
        top: 34px;
        display: flex;
        justify-content: center;
    }
}